streamlit
pandas
numpy
scikit-learn
transformers
torch
PyMuPDF
PyPDF2
fpdf
python-dotenv
openai>=1.0.0
pydrive2
seaborn
matplotlib
openpyxl
pandas
numpy
scikit-learn
python-dotenv
langchain
huggingface_hub
ipywidgets
openpyxl
langchain>=0.1.17
langchain-community>=0.0.21
langchain_community
streamlit
plotly
seaborn
matplotlib
streamlit_option_menu
option_menu
streamlit-extras
numerize
altair
langchain